<div class="ProjectSingle">
  <div class="ProjectSingle__author">
    <img src="https://avatars2.githubusercontent.com/u/1506738?s=460&v=4" alt="">
    <p>Takashi needs your help for...</p>
  </div>
  <h2 class="ProjectSingle__title"><%= @project.title %></h2>
  <p class="ProjectSingle__description"><%= @project.description %></p>
  <%= react_component 'components.BackButton' %>
</div>
