.HeaderUserInfo {
  &__UserInfoWrapper {
    position: relative;
    display: flex;
    margin: -1rem 0;
  }

  &__UserInfo {
    margin-top: .3rem;
    margin-left: 1rem;
    height: 2.2rem;
    display: flex;
    cursor: pointer;

    img {
      height: 100%;
      border-radius: 2rem;
      width: 2rem;
      height: 2rem;
    }
  }

  &__UserInfoDropdown {
    position: absolute;
    background-color: #fff;
    top: 3.1rem;
    left: -80px;
    width: 300px;
    color: white;
    z-index: 100;
    box-shadow: 0 0 8px 0 rgba($brand-dark, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: $radius;

    &--open {
      display: block;
    }

    &--close {
      display: none;
    }

    &:before {
      content: '';
      position: absolute;
      top: -20px;
      left: 90%;
      margin-left: -15px;
      border: 10px solid transparent;
      border-bottom: 10px solid #fff;
      z-index: 2;
    }

    &:after {
      content: '';
      position: absolute;
      top: -24px;
      left: 90%;
      margin-left: -17px;
      border: 12px solid transparent;
      border-bottom: 12px solid rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    &__user {
      display: flex;
      padding: 1.5rem 1rem;

      img {
        height: 100%;
        border-radius: 2rem;
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
      }

      &__name {
        &__nickname {
          color: black;
        }

        &__email {
          font-size: 0.8rem;
          color: rgb(112, 112, 112);
        }
      }
    }

    ul {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: rgb(245, 245, 245);

      li {
        line-height: 1rem;
        list-style-type: none;
        padding: 0;

        a {
          padding: 1rem;
          text-decoration: none;
          color: #292929;
          display: block;

          &:hover {
            background-color: rgb(230, 230, 230);
          }
        }
      }
    }
  }
}
