.LoginModalWrapper {
  margin: -1rem 0;
}

.LoginModal {
  width: 350px;
  border-radius: $radius;
  background-color: #fff;
  outline: none;

  &__heading {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  &__form {
    padding: $box-padding;
    &__group {
      margin-bottom: 1rem;

      label {
        display: block;
        font-size: .8rem;
        margin-bottom: .5rem;
        color: $secondary-font-color;
      }

      input[type="email"], input[type="password"], input[type="number"], input[type="text"] {
        width: 100%;
        padding: 1rem;
        margin-bottom: .5rem;
        outline: none;
        border-radius: $radius;
        border: 1px solid $border-color;
        transition: border-color .2s ease-in-out;

        &:focus {
          border-color: $brand-dark;
        }
      }
    }

    &__submit {
      width: 100%;
      border: solid 1px $brand-color;
      background-color: $brand-color;
      color: white;
      border-radius: $radius;
      padding: .8rem;
      font-weight: bold;
    }

    &__links {
      margin-top: 2rem;
      padding-top: 2rem;
      border-top: 1px solid $border-color;
      a {
        display: block;
        text-align: center;
        color: $secondary-font-color;
        font-size: .8rem;
        margin-bottom: 1rem;
      }
    }
  }
}

.ReactModal__Overlay {
  background-color: rgba(0,0,0, .50) !important;
  display: flex;
  justify-content: center;
  padding: 5rem 0 0;
  align-items: center;
  z-index: 100;
}

.ReactModal__Content {
  margin-top: -20rem;
}

.ReactModal__Body--open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 200ms ease-in-out;
  background: rgba(0, 0, 0, 0.15);
  &--after-open {
    opacity: 1;
  }
  &--before-close {
      opacity: 0;
  }
}