@import url(//fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,700&amp;subset=japanese);

body {
  font-family: 'Noto Sans JP', sans-serif;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.ww {
  display: inline-block;
}
