$brand-color: #4d56ff;
$bright-brand-color: #55b8ff;
$accent-color: #e200a5;
$brand-dark: #757882;
$primary-font-color: black;
$secondary-font-color: #5A5A5A;
$border-color: rgb(230, 230, 230);
$radius: .3rem;
$gray-background: rgb(230, 230, 230);
$box-padding: 2rem 1.5rem;
$pc-width: 1200px;
$pc-lp-width: 930px;
